.pageDownButton {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10px;
  color: black;
  width: 5vw;
  height: 5vw;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.pageDownButton:active {
  color: white;
  bottom: 0px;
}

@media only screen and (max-width: 800px) {
  .pageDownButton {
    height: 15vw;
    width: 10vw;
    bottom: -10px;
  }

  .pageDownButton:active {
    bottom: -20px;
  }
}
