.pageDownButton {
  position: fixed;
  left: 50vw;
  bottom: 3vw;
  color: black;
  width: 5vw;
  height: 5vw;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.pageDownButton:hover {
  color: white;
  transform: translateY(15px) scale(1.2);
}
