.AboutIntro__container {
  margin-top: 50vh;
  height: 300vh;
  width: 100vw;
  overflow: unset;
}

.AboutIntro__introContainer {
  display: flex;
}

.AboutIntro__stickyIntro {
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 20rem;
}

.AboutIntro__wave {
  font-size: 10em;
}

.AboutIntro__intro {
  padding: 8vh 2vw;
}
