.AboutIntro__container {
  height: 150vh;
  width: 100vw;
  overflow: unset;
}

.AboutIntro__introContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AboutIntro__stickyIntro {
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 35vh;
}

.AboutIntro__wave {
  font-size: 8em;
  color: rgb(0, 0, 0, 0);
  stroke: #313131;
  stroke-width: 15px;
  margin-left: -1.5em;
  transform-origin: bottom center;
  animation: wave 2s ease-in-out alternate 2;
}

.AboutIntro__wave:active {
  animation: wave 2s ease-in-out alternate 3;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.AboutIntro__intro {
  padding: 8vh 2vw;
}
