.About__container {
  height: 300vh;
  width: 100vw;
  overflow: unset;
}

.About__introContainer {
  display: flex;
}

.About__stickyIntro {
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 18rem;
}

.About__wave {
  font-size: 10em;
}

.About__intro {
  padding: 8vh 2vw;
}
