.AboutExperience__container {
  background-color: #eea583;
  width: 100vw;
  height: 300vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AboutExperience__mountainContainer {
  background-color: #eea583;
}
