.drawerButtonIcon:active {
  color: white;
}

.drawerButtonIcon.showButton {
  opacity: 1;
}

.drawerButtonIcon.showButton.drawerOpen {
  opacity: 0;
}

.drawerButtonIcon {
  width: 5vw;
  height: 5vw;
  z-index: 99;
  color: black;
  transition: color 0.3s ease-out, opacity 1s ease-in-out;
  -webkit-transition: color 0.3s ease-out, opacity 1s ease-in-out;
  -moz-transition: color 0.3s ease-out, opacity 1s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 3vw;
  right: 4%;
}

.drawerRightSidePanel {
  width: 25vw;
  transform: translateY(-100vh);
  height: 100vh;
  color: rgb(212, 212, 212);
  top: 0%;
  transition: all 0.4s cubic-bezier(0.14, 0.83, 0.49, 1.01),
    opacity 0.4s ease-out;
  -webkit-transition: all 0.4s cubic-bezier(0.14, 0.83, 0.49, 1.01),
    opacity 0.4s ease-out;
  -moz-transition: all 0.4s cubic-bezier(0.14, 0.83, 0.49, 1.01),
    opacity 0.4s ease-out;
  z-index: 9;
  background: #b33d64;
  position: fixed;
  top: 12vw;
}

.drawerRightSidePanel.isOpen {
  transform: translateY(0vh);
  position: -webkit-sticky;
  position: sticky;
}

.drawerRightSidePanel.isOpen.showButton {
  position: fixed;
}

.drawerContents {
  text-align: right;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .drawerRightSidePanel {
    width: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  .drawerButtonIcon {
    width: 7vw;
    height: 7vw;
    top: 4vw;
    right: 5%;
  }
}
