.HeaderPortrait__container {
  position: fixed;
  display: inline-block;
  margin-bottom: 25px;
  top: 20vh;
  clip-path: circle(50% at center);
  transition: all 0.3s cubic-bezier(0.7, 0.71, 0.01, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.7, 0.71, 0.01, 1);
  -moz-transition: all 0.3s cubic-bezier(0.7, 0.71, 0.01, 1);
  z-index: 11;
  width: 24vw;
  height: 24vw;
  margin-left: 20vw;
}

.HeaderPortrait__container--shrink {
  top: 20px;
  margin-left: 20px;
  width: 10vw;
  height: 10vw;
  max-height: 140px;
  max-width: 140px;
}

@media only screen and (max-width: 1200px) {
  .HeaderPortrait__container {
    width: 50vw;
    height: 50vw;
    top: 5vh;
    margin-left: 26vw;
  }

  .HeaderPortrait__container--shrink {
    top: 10px;
    margin-left: 10px;
    width: 10vw;
    height: 10vw;
    max-height: 80px;
    max-width: 80px;
  }
}
