@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.pageButton:hover {
  color: white;
}

.pageButton:active {
  color: white;
}

.pageButton.shrink {
  opacity: 0;
}

.pageButton {
  width: 5vw;
  height: 5vw;
  z-index: 99;
  color: black;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.headerBasic {
  background: #b33d64;
}

.lockedHeader {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.longHeader {
  height: 700px;
}

.portraitContainer {
  position: -webkit-sticky;
  position: sticky;
  display: inline-block;
  margin-bottom: 25px;
  top: 2em;
  clip-path: circle(50% at center);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  z-index: 11;
}

.portraitContainer.shrink {
  margin-left: 1vw;
  position: fixed;
  width: 10vw;
  height: 10vw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.titleContainer {
  position: fixed;
  display: inline-block;
  color: #0e4f75;
  white-space: nowrap;
  font-size: 4em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 11;
}

.titleContainer.shrink {
  margin-left: 12vw;
  position: fixed;
  font-size: 2em;
}

.rolladex {
  color: #0f2735;
}

.shrink .rolladex {
  top: 0.6vw;
  font-size: 2.5vw;
}

.shrink .name {
  font-size: 5vw;
}

@media only screen and (min-width: 1300px) {
  .rolladex {
    top: 4vw;
    font-size: 0.7em;
  }
  .lockedHeader {
    height: 12vw;
  }
  .titleContainer {
    margin-left: 3vw;
    top: 10vw;
  }
  .portraitContainer {
    width: 24vw;
    height: 24vw;
    margin-left: 20vw;
  }
  .portraitContainer.shrink {
    top: 1vw;
  }
  .titleContainer.shrink {
    top: 4vw;
  }
  .shrink .rolladex {
    top: 2vw;
    font-size: 80%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1299px) {
  .rolladex {
    top: 4vw;
    font-size: 0.7em;
  }
  .lockedHeader {
    height: 12vw;
  }
  .titleContainer {
    margin-left: 3vw;
    top: 10vw;
  }
  .portraitContainer {
    width: 24vw;
    height: 24vw;
    margin-left: 20vw;
  }
  .portraitContainer.shrink {
    top: 1vw;
  }
  .titleContainer.shrink {
    top: 4vw;
  }
  .shrink .rolladex {
    top: 1vw;
    font-size: 60%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .rolladex {
    top: 4vw;
    font-size: 0.7em;
  }
  .lockedHeader {
    height: 12vw;
  }
  .titleContainer {
    margin-left: 3vw;
    top: 10vw;
  }
  .titleContainer.shrink {
    top: 3vw;
  }
  .portraitContainer {
    width: 24vw;
    height: 24vw;
    margin-left: 20vw;
  }
  .portraitContainer.shrink {
    top: 1vw;
  }

  .shrink .rolladex {
    top: 0.2vw;
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 599px) {
  .rolladex {
    top: 7vw;
    font-size: 0.4em;
  }
  .titleContainer.shrink {
    top: 3vw;
  }
  .lockedHeader {
    height: 14vw;
  }
  .shrink .rolladex {
    top: -1vw;
  }
  .titleContainer {
    margin-left: -58vw;
    top: 70vw;
  }
  .portraitContainer {
    width: 50vw;
    height: 50vw;
    margin-left: 26vw;
  }
  .portraitContainer.shrink {
    top: 2vw;
  }
  .pageButton {
    width: 10vw;
    height: 10vw;
  }
}

@media only screen and (max-width: 400px) {
  .shrink .rolladex {
    top: -3vw;
  }
  .titleContainer.shrink {
    top: 3vw;
  }

  .titleContainer {
    margin-left: -63vw;
  }

  .pageButton {
    width: 15vw;
    height: 15vw;
  }
}
