@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.headerBasic {
  background: #b33d64;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.lockedHeader {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
}

.longHeader {
  height: 1300px;
}

.portraitContainer {
  position: -webkit-sticky;
  position: sticky;
  display: inline-block;
  margin-bottom: 25px;
  top: 2em;
  clip-path: circle(50% at center);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  z-index: 11;
}

.portraitContainer.shrink {
  margin-left: 1vw;
  position: fixed;
  width: 10vw;
  height: 10vw;
}

.titleContainer {
  position: fixed;
  display: inline-block;
  color: #0e4f75;
  white-space: nowrap;
  font-size: 4em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  z-index: 11;
}

.titleContainer.shrink {
  margin-left: 12vw;
  position: fixed;
  top: 4vw;
  font-size: 2em;
}

.rolladex {
  color: #0f2735;
}

.shrink .rolladex {
  top: 0.6vw;
}

@media only screen and (min-width: 600px) {
  .rolladex {
    top: 4vw;
    font-size: 0.7em;
  }

  .lockedHeader {
    height: 12vw;
  }
  .titleContainer {
    margin-left: 3vw;
    top: 10vw;
  }
  .portraitContainer {
    width: 24vw;
    height: 24vw;
    margin-left: 20vw;
  }
  .portraitContainer.shrink {
    top: 1vw;
  }
}

@media only screen and (max-width: 599px) {
  .rolladex {
    top: 7vw;
    font-size: 0.4em;
  }

  .lockedHeader {
    height: 14vw;
  }
  .shrink .rolladex {
    top: 0vw;
  }
  .titleContainer {
    margin-left: -58vw;
    top: 70vw;
  }
  .portraitContainer {
    width: 50vw;
    height: 50vw;
    margin-left: 26vw;
  }
  .portraitContainer.shrink {
    top: 2vw;
  }
}
