@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.headerBasic {
  background: #b33d64;
  z-index: 10;
}

.header__lockedHeader {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 12vw;
  max-height: 140px;
  padding-bottom: 20px;
  bottom: 0;
}

.header__longHeader {
  height: 95vh;
}

.header__drawerContainer {
  position: relative;
}

.header__drawer {
  position: absolute;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@media only screen and (max-width: 1400px) {
  .header__lockedHeader {
    max-height: 110px;
  }
}

@media only screen and (max-width: 599px) {
  .header__lockedHeader {
    height: 14vw;
  }
}
