@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.header {
  width: 100%;
  padding: 4% 4% 0;
  background: #b33d64;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;
  font-weight: 600;
  box-shadow: 0px 30px 40px rgba(90, 8, 26, 0.26);
}
.header.shrink {
  padding: 0.3vw 0.3vw 0;
  box-shadow: 0px 5px 10px rgba(90, 8, 26, 0.26);
  max-height: 10%;
}

.portrait {
  position: absolute;
  top: 0;
  width: 180px;
  height: 180px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  clip-path: circle(50% at center);
}
.portrait.shrink {
  transform: translate(-60px, -50px) scale(0.2);
}

.avatar {
  position: relative;
}

.title {
  transform: translate(190px, -130px);
  color: #0e4f75;
  font-size: 2em;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.title.shrink {
  transform: translate(55px, -150px);
  font-size: 1em;
}

.subtitle {
  transform: translate(190px, -100px);
  color: #092a3d;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
}
.subtitle.shrink {
  transform: translate(55px, -100px);
  opacity: 0;
}
